.sectionTitles {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 1rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  color: white;
  margin-top: 0;
  color: #d9a300;
}

/* Portfolio section styling */
.portfolio {
  background-color: #000000;
  padding: 2rem 0;
  text-align: center;
}

.portfolio-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.portfolio-item {
  text-decoration: none;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
  width: calc(30% - 20px);
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.portfolio-item img {
  width: 100%;
  object-fit: contain;
}

.portfolio-item span {
  width: -webkit-fill-available;
  background-color: #4d97fe36;
  color: white;
  padding: 1rem;
  margin: 0;
  font-weight: 600;
}

.portfolio-item:hover {
  transform: translateY(-5px);
}

/* About section styling */
.about {
  background-color: black;
  padding: 4rem 0;
  color: white;
  display: flex;
  justify-content: center;
}

.about p {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 1rem;
}

/* Contact section styling */
.contact {
  background-color: #000000;
  padding: 2rem 0;
  text-align: center;
}

.form-container {
  max-width: 750px;
  margin: 0 auto;
}

iframe {
  width: 100%;
  height: 500px;
  border: none;
}


.imageMine
{
  width: 90%;
  border-radius: 0.35rem;

}
.aboutImageWrapper
{
  text-align: right;
}
.aboutContentWrapper
{
padding-right: 1rem;
}
.pWrapper{
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  width: 90%;
}
.ctaWrapper
{
  display: flex;
}


.normal-button
{
  display: inline-block;
  padding: 1rem 2rem;
  background-color: transparent;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border: 2px solid white;
  border-radius: 0.35rem;
  transition: background-color 0.3s ease;
  text-align: center;
}
.normal-button:first-child
{
  margin-right: 2rem;
}
.normal-button:hover
{

}

@media only screen and (max-width: 765px) {
  .portfolio-item {
    width: 100%;
  }
  .aboutImageWrapper
  {
    text-align: center;
  }
  .aboutContentWrapper
  {
  padding-right: 0;
  width: 100%;
  }
  .pWrapper {
    flex-direction: column;
}
.imageMine
{
  width: -webkit-fill-available;
}
.ctaWrapper {
  flex-direction: column;
  width: 100%;
  align-items: stretch;
}

.normal-button:first-child
{
  margin-right: 0;
  margin-bottom: 2rem;
}
}
