/* Basic styles */
body {
  margin: 0;
  padding: 0;
  /* background-color: #f2f2f2; */
  font-family: "Montserrat", sans-serif;
}

/* Header and navigation styling */
header {
  width: 100%;
  background-color: transparent;
  color: white;
  padding: 1rem;
  position: fixed;
  top: 0;
  z-index: 999;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#logoMain {
  display: flex;
  text-decoration: none;
  font-size: 0.8rem;
  align-items: center;
  justify-content: space-around;
}

#logoMain img {
  min-width: 40px;
  max-width: 50px;
}

#logoMain h1 {
  font-family: "Rakkas", serif;
  letter-spacing: 0.2rem;
  cursor: pointer;
  padding-left: 0.7rem;
  color: white;
}

nav {
  margin-top: 10px;
  padding-right: 2rem;
}

nav a {
  text-decoration: none;
  color: white;
  margin: 0 15px;
  transition: all 0.3s ease;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
}

nav a:hover {
  color: #ffa500;
}

h1 {
  margin: 0;
}

/* Main section styling */
.main-content {
  font-family: "Montserrat", sans-serif;
}

footer {
  padding: 0 1rem 1rem 1rem;
  text-align: center;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
}

#header-container {
  transition: 0.2s;
}

#header-container.sticky {
  background-color: black;
}

/* MOBILE MENU TOGGLE AND CSS */
#menu-toggle {
  display: none;
  flex-direction: column;
  gap: 5px;
  background: none;
  border: none;
  cursor: pointer;
  padding-right: 2rem;
}

.menu-line {
  height: 3px;
  background-color: white;
}

.menu-line-top {
  width: 30px;
}

.menu-line-middle {
  width: 25px;
}

.menu-line-bottom {
  width: 20px;
}

/* Mobile Styles */
@media (max-width: 768px) {
  #navigation {
    display: none;
    flex-direction: column;
    gap: 10px;
    background-color: #000000;
    position: fixed;
    top: 0;
    left: -300px; /* Initially hidden */
    height: 100%;
    width: 250px;
    padding: 20px;
    transition: right 0.3s ease;
  }

  #navigation.show {
    left: 0;
    display: block;
    margin: 0;
    display: flex;
    padding-top: 3rem;
    font-size: 1.3rem;
    text-transform: uppercase;
  }

  #menu-toggle {
    display: flex;
    align-items: flex-end;
  }
}
